<div class="modal-header bg-primary">
  <h4 class="modal-title">{{modalTitle}}</h4>
  <button type="button" class="close" (click)="modalRef.close(false)" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-content></ng-content>
</div>
<div class="modal-footer" *ngIf="hasFooter">
  <ng-container *ngIf="!footerTemplate">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close(false)">Close</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.close(true)">Save changes</button>
  </ng-container>
  <ng-container *ngIf="footerTemplate">
    <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
  </ng-container>
</div>
